body
{
	margin: 0;
	font-family: arial,sans-serif;
}

header nav
{
	
}

header nav ol
{
	list-style: none;
	display: flex;	
	font-size: 13px;
	justify-content: flex-end;
	margin: 25px 15px 0px 0px;
}
header nav ol li
{
	margin-right: 10px;
}

header nav ol li a
{
	text-decoration: none;
	color: black;
}

.icono
{
	width: 40px;
	height: 40px;
	font-size: 20px;
}

.hero
{
	margin-top: 8%;
	text-align: center;
}

.hero .container_hero img
{
	width: 20%;
}

.hero .container_hero .container_input
{
	margin: 1% 0% 2% 0%;
}

.hero .container_hero .container_input input
{
	width: 35%;
	padding: 0.9% 2%;
	border-radius: 20px;
	border: 1px solid RGB(214, 196, 196);
}

.hero .container_hero .botones .boton1, .boton2
{
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.hero .container_hero h3
{
	font-size: small;
	font-weight: 200;
	line-height: 28px;
	color: #222;
}

.hero .container_hero h3 a
{
	text-decoration: none;
}

footer
{
	background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    width: 100%;
    bottom:0px;
    position: absolute;
}

footer .pais
{
	border-bottom: 1px solid #e4e4e4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    color: #5f6368;
    padding-left: 45px;	
}

footer .info ol
{
	margin:0px;
}

footer .info ol li
{
	list-style-type: none;
	margin: 0px 5px;
	display: inline-block;
}

footer .info ol li a
{
	text-decoration: none;
	color: #5f6368;
	font-size: 14px;
	margin: 0px;
}




