body
{
	margin: 0;
	font-family: arial,sans-serif;
}

header nav
{
	
}

header nav ol
{
	list-style: none;
	display: flex;	
	font-size: 13px;
	justify-content: flex-end;
	margin: 25px 15px 0px 0px;
}
header nav ol li
{
	margin-right: 10px;
}

header nav ol li a
{
	text-decoration: none;
	color: black;
}

.icono
{
	width: 40px;
	height: 40px;
	font-size: 20px;
}

.hero
{
	margin-top: 10%;
	text-align: center;
}

.container_hero
{

}

.container_hero #email
{
	display: block;
	text-align: 

}



